<div class="container">
    <h3>Manage Media Here</h3>

    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Media Name</label>
            <input type="text" class="form-control" id="firstName" required [(ngModel)]="media.medianame"
                name="medianame">
        </div>
        <div class="form-group">
            <label for="name">Media Image</label>
            <input type="file" class="form-control" id="password" required multiple value="select"
                (change)="onFileSelected($event)">
            <div class="row">
                <div *ngFor="let file of media.mediaImages;let i =index" class="col-sm-2">
                    <span class="close" (click)="removeImage(i)">x</span>
                    <img [src]="file.url" alt="" width="100px" height="100px">
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
