<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
           
        <div class="carousel-inner"></div>
                <ul class="list-group">
                    <div class="item active"></div>
                    <br>
                    <br>
                    <li class="list-group-item"><img src="d1.png" style="width: 40%;height: 70px;"><br>Continually learning, researching and creating more efficient methods to reach and serve the community optimally</li>
                    <br>
                    <li class="list-group-item"> <img src="d2.png" style="width: 40%;height: 70px;">
                        <br>Respond and treat every individual with respect and dignity,encouraging them to participate actively in caring for their own mental peace</li>
                    <li class="list-group-item"><img src="d3.png" style="width: 40%;height: 70px;"><br>Continually learning, researching and creating more efficient methods to reach and serve the community optimally</li>
                    
                  </ul>
                  
        </div>
        <div class="col-sm-9">
            <h1 class="text-center">About Us</h1>
            <br>
            <h4 class="fw-bold fst-italic">
               
                 Welcome to Hope, a platform dedicated to supporting individuals on their journey toward mental wellness.<br><br>
                We understand the challenges of navigating mental health conditions such as depression, anxiety, and stress, and our mission is to provide a safe, supportive space where healing begins.<br><br>
                At Hope,we combine compassionate resources, innovative tools, and a user-friendly experience to empower individuals in taking control of their mental health. <br><br>
                Whether you are seeking guidance, community support, or practical strategies to improve your well-being, we are here for you every step of the way.<br><br>
                
                Together, let’s build a world where mental health is a priority, and hope is always within reachs 
                without any inhibitions.<br><br>
        
                Accessible even to those lacking transportation services or those residing in rural areas.<br>Ability to choose from a multilingual pool of counsellors by selecting their area of expertise that matches your needs.<br><br>
                sanctuary of support and understanding for those navigating the challenges of mental health.<br> Whether you're dealing with depression, anxiety, stress, or simply need a moment to reconnect with yourself, we’re here to help you.<br><br>
        
                At Hope, we believe that everyone deserves to feel heard, supported, and empowered. <br>Our mission is to create a safe space where individuals can access resources, tools, and a community that understands their journey. <br><br>
                
              </h4>
              