<div class="container">
    <br>
        <br>
        <br>
        <br>
    <div class="jumbotron" style="background-color:#68da94;">
      <h1>Need Help..??</h1>
      <br>
      <p>Reach out to our crisis intervention helpline for free mental health support.
        <br> Available 24 X 7 X 365.
        <br>
        <br>
    </p>
    <div class="item"><h1>
        <img src="https://png.pngtree.com/png-clipart/20221019/original/pngtree-whatsapp-mobile-software-icon-png-image_8704828.png" 
        style="width: 15%;height: 90px;"> 7387818000</h1>
            
      </div>
    </div>
    
  </div>