<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <h3 class="page-header">
            Signs your mental health might need attention
        </h3>
                <ul class="list-group">
                    <li class="list-group-item">Feeling sad or down</li>
                    <li class="list-group-item">Inability to concentrate</li>
                    <li class="list-group-item">Extreme feelings of guilt</li>
                    <li class="list-group-item">Excessive anger, hostility or violence</li>
                    <li class="list-group-item">Sudden changes in behavior</li>
                    <li class="list-group-item">Major changes in eating habits</li>
                    <li class="list-group-item">Suicidal thoughts</li>
                    <li class="list-group-item">Low on energy</li>
                  </ul>
                  
        </div>
        <div class="col-sm-9">
            <h1 class="text-center">AdminLogin Here</h1>
            <form (ngSubmit)="submitdata()">
                      <div class="form-group">
                        <label for="email">Email address:</label>
                        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="adm.email">
                      </div>
                      <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="adm.password">
                      </div>

                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
    </div>
</div>

