<div class="container">
    <h2>Our Experts</h2>
    <div class="card" style="width:300px">
      <img class="card-img-top" src="avatar.png" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">John Doe</h4>
        <p><span class="glyphicon glyphicon-user">Counsellor</span></p>  
        <p class="card-text">John is a mental health counsellor who specializes in working with a wide range of concerns</p>
        <a href="appointmentcomponent.html" class="btn btn-primary">Book Appointment</a>
      </div>
    </div>
    <br>
    
    
  </div>
